@page "/text-to-speech"

<PageTitle>TTS</PageTitle>

<h3>TTS</h3>
<p>Wpisz tekst, a następnie wygenerujemy audio z jego syntezą (TTS).</p>
<div class="mb-3">
    <label for="textInput" class="form-label">Tekst do syntezy mowy:</label>
    <textarea id="textInput" class="form-control" @bind="_textForTTS" rows="3"></textarea>
</div>

<div class="mb-3">
    <label class="mb-2">Wybierz język:</label>
    <InputSelect @bind-Value="_selectedLanguage">
        @foreach (var item in _languages)
        {
            <option value="@item">@item</option>
        }
    </InputSelect>
</div>

<div class="mb-3">
    <label class="mb-2">Wybierz głos:</label>
    <InputSelect @bind-Value="_selectedVoice">
        @foreach (var item in _voices)
        {
            <option value="@item">@item</option>
        }
    </InputSelect>
</div>

<div class="mb-3">
    <label class="mb-2">Wybierz prędkość mówienia:</label>
    <input type="range" min="50" max="200" @bind="_speed" />
    <span>@_speed%</span>
</div>

<button class="btn btn-primary" @onclick="SynthesizeSpeechAsync">Syntezuj</button>

@if (!string.IsNullOrWhiteSpace(_audioDataUrl))
{
    <h4 class="mt-3">Wygenerowany dźwięk:</h4>
    <audio controls>
        <source src="@_audioDataUrl" type="audio/wav" />
        Przeglądarka nie obsługje elementu audio
    </audio>
}