@page "/culinary-assistant"

<PageTitle>Culinary Assistant</PageTitle>

<h3>Asystent Kulinarno-Dietetyczny</h3>
<p class="mt-3">Wybierz zdjęcie, a następnie kliknij "Rozpoznaj składniki", aby otrzymać listę Twoich składników do stworzenia dania. Następnie możesz zmodyfikować rozpoznane składniki.</p>
<div class="mb-3">
    <InputFile OnChange="OnFileSelectedAsync" accept="image/*" />
</div>
@if (_imageDataUrl != null)
{
    <h4>Wgrany Obraz:</h4>
    <img src="@_imageDataUrl" alt="Wgrany obraz" style="display: block;max-width:300px;max-height:300px;" />
    <button class="btn btn-primary mt-3" disabled="@_isLoading" @onclick="IdentifyIngredientsAsync">Rozpoznaj składniki</button>
}
@if (_isLoading)
{
    <p class="mt-3">Analizowanie danych, proszę czekać...</p>
}
<div class="mb-3 mt-5">
    @if (_ingredients != null && _ingredients.Any())
    {
        <label class="form-label">Twoje składniki:</label>
        <table class="table">
            <thead>
                <tr>
                    <th>Składnik</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ingredient in _ingredients)
                {
                    <tr>
                        <td>@ingredient</td>
                        <td>
                            <button class="btn btn-sm btn-danger" @onclick="() => RemoveIngredient(ingredient)">Usuń</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (!_isLoading)
    {
        <p><i>Brak wybranych składników.</i></p>
    }
    @* możliwość wprowadzenia nowych składników *@
    <div class="mt-5 mb-5">
        <label for="opinionInput" class="form-label">Nowy składnik:</label>
        <input id="opinionInput" class="form-control" @bind="_ingredient"></input>
        <button class="btn btn-secondary mt-3" @onclick="AddIngredient">Dodaj</button>
    </div>
</div>
<hr />
@if (_ingredients != null && _ingredients.Any())
{
    <p class="mt-5">Wybierz rodzaj dania, a następnie kliknij "Zaproponuj dania", aby otrzymać listę proponowanych dań z Twoich składników.</p>
    <div class="mb-3 mt-3">
        <label class="mb-2">Wybierz rodzaj dania:</label>
        <select class="form-select" @bind="_selectedMealTypeId">
            <option value="">-- Wybierz --</option>
            @if (_availableMealTypes != null && _availableMealTypes.Any())
            {
                @foreach (var item in _availableMealTypes)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
    </div>
    <button class="btn btn-primary mb-3" @onclick="SuggestMealsAsync">Zaproponuj dania</button>
    @if (_suggestedMeals != null && _suggestedMeals.Any())
    {
        <div class="mt-3 mb-5">
            <label class="form-label">Propozycje dań:</label>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Czas (min)</th>
                        <th>Kalorie</th>
                        <th>Białko</th>
                        <th>Węglowodany</th>
                        <th>Tłuszcze</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dish in _suggestedMeals)
                    {
                        <tr>
                            <td>@dish.Name</td>
                            <td>@dish.PreparationTime</td>
                            <td>@dish.Calories</td>
                            <td>@dish.Protein</td>
                            <td>@dish.Carbs</td>
                            <td>@dish.Fats</td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
    }
    else if (_isLoading)
    {
        <p class="mt-3 mb-5">Generowanie propozycji dań, proszę czekać...</p>
    }
}