@page "/content-assistant"

<PageTitle>Content Assistant</PageTitle>

<h3>Inteligentny Asystent Kontentu</h3>
<p class="mt-3">
    Kliknij "Nagraj" i wprowadź opis produktu głosem, potem "Stop" i zostanie wygenerowany Twój opis produktu.
</p>
<button class="btn btn-primary" @onclick="StartRecordingAsync" disabled="@_isRecording">Nagraj</button>
<button class="btn btn-secondary" @onclick="StopRecordingAsync" disabled="@(!_isRecording)">Stop</button>
@if (_isRecording)
{
    <p class="mt-3">Przetwarzanie głosu... proszę czekać.</p>
}
<div class="mb-3 mt-3">
    <label for="textInput" class="form-label">Twój opis produktu:</label>
    <textarea id="textInput" class="form-control" @bind="_userProductDesc" rows="3"></textarea>
</div>
<button class="btn btn-info" @onclick="GenerateAsync">Generuj</button>
@if (_isLoading)
{
    <p class="mt-3">Generowanie... proszę czekać.</p>
}
@if (!string.IsNullOrWhiteSpace(_generatedName))
{
    <div class="mb-3 mt-3">
        <label>Wygenerowana Nazwa:</label>
        <p>@_generatedName</p>
    </div>
    <div class="mb-3">
        <label>Wygenerowany Opis:</label>
        <p>@_generatedDescription</p>
    </div>
    <div class="mb-3">
        <label for="textInput" class="form-label">Uwagi:</label>
        <textarea id="textInput" class="form-control" @bind="_notes" rows="3"></textarea>
    </div>
    <button class="btn btn-sm btn-danger" @onclick="ChangeNameAsync">Zmień nazwę</button>
    <button class="btn btn-sm btn-danger" @onclick="ChangeDescriptionAsync">Zmień opis</button>
}
@if (_imageDataUrl != null)
{
    <h4 class="mt-3">Zdjęcie:</h4>
    <img src="@_imageDataUrl" alt="zdjęcie produktu" style="display: block;max-width:256px;max-height:256px; margin-bottom: 3rem;" />
}
@if (_keyPhrases.Any())
{
    <div class="mt-3 mb-3">
        @foreach (var item in _keyPhrases)
        {
            <span class="alert alert-primary text-center me-2" role="alert">
                @item
            </span>
        }
    </div>
}